<html>

<head>
<title>while Loops</title>
</head>

<body>

<h5>While Loops</h5>
The <code>while</code> operator allows a set of commands to be repeated until a specific logical condition is met.

Importantly the logical condition you specify as an argument is the opposite of what you are trying to do.
<h3>Example: The Clever Lecturer</h3>
<code>
while( logical condition is meet)
</code>


</body>
</html>
